---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'ABOUT';

const identity = {
  firstName: 'Fossbird',
  lastName: 'H',
  country: 'US',
  occupation: 'Web Developer and other things',
  hobbies: ['walking', 'eating', 'computer'],
};
const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'Writing Docs',
  'Blogging',
  'Linux',
  'chocolate',
  'Node'
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = '#038c88';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<BaseLayout pageTitle={pageTitle}>
	<style define:vars={{ skillColor, fontWeight, textCase }}>
        h1 {
          color: purple;
          font-size: 4rem;
        }
        .skill {
          color: var(--skillColor);
          font-weight: var(--fontWeight);
          text-transform: var(--textCase);
        }
        .avatar {
          border-radius: 50%;
          height: 50px;
        }
      </style>
      <h1>{pageTitle}</h1>
  
      <h2>For the curious.</h2>
      <p>Here are a few facts about me:</p>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
          I live in the {identity.country} and I work as a {
            identity.occupation
          }.
        </li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              Two of my hobbies are: {identity.hobbies[0]} and{' '}
              {identity.hobbies[1]}
            </li>
          )
        }
      </ul>
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
  
     <p>This site was build with <a href='ASTRO'>ASTRO</a>, a wonderful framework for building sites.</p>
      
  
      
</BaseLayout>
