---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'ABOUT';

const identity = {
  firstName: 'Nick',
  lastName: 'H',
  country: 'US',
  occupation: 'Web Developer, Scientist',
  hobbies: ['walking', 'eating', 'computer'],
};
const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'Writing Docs',
  'Blogging',
  'Linux'
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = '#038c88';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<BaseLayout pageTitle={pageTitle}>
	<style define:vars={{ skillColor, fontWeight, textCase }}>
        h1 {
          color: purple;
          font-size: 4rem;
        }
        .skill {
          color: var(--skillColor);
          font-weight: var(--fontWeight);
          text-transform: var(--textCase);
        }
        .avatar {
          border-radius: 50%;
          height: 50px;
        }
      </style>
      <h1>{pageTitle}</h1>
  
      <h2>About me, the author</h2>
      <p>Here are a few facts about me:</p>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
          I live in {identity.country} and I work as a {
            identity.occupation
          }.
        </li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              Two of my hobbies are: {identity.hobbies[0]} and{' '}
              {identity.hobbies[1]}
            </li>
          )
        }
      </ul>
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
  
      {happy && <p>I am happy to be learning Astro!</p>}
  
      {finished && <p>I finished this tutorial!</p>}
  
      {
        goal === 3 ? (
          <p>My goal is to finish in 3 days.</p>
        ) : (
          <p>My goal is not 3 days.</p>
        )
      }
  
      <p>
        This is a new blog template to make a new site for writing. It's
        practice for my web development skills.
      </p>
      <p>
        I've been out of the game for awhile, so need to do some more
        development to make a page worth sharing.
      </p>
      <p>
        I'm building this site from scratch to make everything more
        clear again.
      </p>
      <h3>Here are some things that I plan to add:</h3>
      <ul>
        <li>An index page that links all the entries together</li>
        <li>
          Series of pages that will be individual blog entries. All will
          have some of my writing in them.
        </li>
        <li>
          I should probably write a bit about technology and my journey.
        </li>
        <li>This should all be anonymous</li>
      </ul>
</BaseLayout>
